body {
  margin: auto;
  max-width: 50em;
  font-family: Helvetica, sans-serif;
  background-color: rgb(192, 216, 195);
}

.header {
    text-align: center;
    color: white;
    padding: 0.5em;
    margin: 0 0;
    font-size: 20px;
}

.nav {
  background-color:  rgb(229, 226, 240);
  padding: 0.5em;
  margin: 0.5em 0;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid white;
}


.content {
    background-color: white;
    padding: 1em;
    margin: 0.5em 0;
}

.info {
  border: 2px solid white;
  margin: 0.5em;
  padding: 1em;
  background-color: rgb(141, 162, 199);
  color: white;
}

.index_asks {
    border: 5px solid rgb(194, 168, 202);
    margin: 1em;
    padding: 1em 2.5em;
}

.ask {
    background-color: rgb(247, 248, 252);
    border: 5px solid rgb(136, 161, 147);
    margin: 2em;
    padding: 1em 1.5em;
}

h2 {
    text-align: center;
    background-color: rgb(223, 229, 248);
    color: black;
    margin: 1em;
    padding: 1em 1em;
    font-size: 21px;
}

.new_ask {
    background-color: rgb(242, 243, 252);
    border: 5px solid rgb(111, 120, 170);
    margin: 2em;
    padding: 1em 1.5em;
}

.ask_meta {
  margin: 1em;
  padding: 0.2em 0.7em;
  color: rgb(100, 76, 109);
  background-color: rgb(232, 229, 235);
}

.ask_info {
  text-align: center;
  margin-left: 8em;
  margin-right: 8em;
  padding: 0em;
  background-color: rgb(217, 248, 217);
}

.ask_content {
  margin: 1em;
  padding: 1em 1em;
}

h3 {
  text-align: center;
  border: 5px solid rgb(223, 229, 248);
  margin: 1em;
  padding: 1em 1em;
  font-size: 21px;
}

h4 {
  margin: 1em;
  padding: 1em, 1em;
  font-size: 19px;
}

.reply {
    border: 5px solid rgb(220, 199, 230);
    margin-left: 1em;
    margin-right: 10em;
    padding: 1em 1em;
}

.new_reply {
    background-color: rgb(245, 246, 255);
    border: 5px solid rgb(174, 182, 228);
    margin: 2em;
    padding: 1em 1.5em;
}

h5 {
  font-size: 16px;
}

.search {
  margin: 3em;
}

.s_result {
    background-color: rgb(247, 248, 252);
    border: 5px solid rgb(143, 168, 197);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.1em;
    padding: 1em 1.5em;
}

.gen {
  margin: 2em;
}

.user_ask {
  border: 5px solid rgb(143, 168, 197);
  margin-left: 2em;
  margin-bottom: 0.1em;
  margin-right: 5em;
  padding: 0.5em 0.5em;
}