<!DOCTYPE html>
<html>

<head>
  <title>Ehdotuksen muokkaus</title>
</head>

<body>
  <h1>Ehdotuksen muokkaus</h1>

  <form action="/edit_ask/{{ ask.id }}" method="post">
    <p>
      Otsikko:<br />
      <input type="text" name="title" value="{{ ask.title }}"/>
    </p>
    <p>
      Ehdotus:<br />
      <textarea name="content" rows="5" cols="40">{{ ask.content }}</textarea>
    </p>
    <input type="submit" value="Lähetä" />
    <input type="hidden" name="ask_id" value="{{ ask.id }}"/>
  </form>
</body>

</html>