{% extends "layout.html" %}

{% block title %}Vaihtolainaus{% endblock %}

{% block content%}
<div class="index_asks">
<h3>
  <a href="/trade">Vaihdot</a>
  <br />
</h3>

<p>
  {% if trade_info.total == 1 %}
  {{ trade_info.total }} avoin vaihto
  {% else %}
  {{ trade_info.total }} avointa vaihtoa
  {% endif %}
  <br />
   uusin: {{ trade_info.last }}
</p>
</div>

<div class="index_asks">
<h3>
  <a href="/borrow">Lainat</a>
</h3>

<p>
  {% if borrow_info.total == 1 %}
  {{ borrow_info.total }} avoin lainaus
  {% else %}
  {{ borrow_info.total }} avointa lainausta
  {% endif %}
  <br />
   uusin: {{ borrow_info.last }}
</p>
</div>
{% endblock %}
