<!DOCTYPE html>
<html>

<head>
  <title>Vaihtolainaus</title>
</head>

<body>
  <h1>Solmi laina- tai vaihtokauppoja täällä näin!</h1>
  
  <p>
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a> |
    <a href="/search">Haku</a> 
    <hr />
    Tervetuloa {{ session.username }} 
    <br />
    (ID-numero: {{ session.user_id  }})
    {% else %}
    <a href="/register">Luo tunnus</a> |
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/search">Haku</a>
    {% endif %}
    <hr />
  </p>

  <h2>
    <a href="/trade">Vaihtokaupat</a>
    <br />
  </h2>
  <p>
    Ehdotusten lukumäärä: {{ info.total }}
    <br />
    Uusin: {{ info.last }}
  </p>
  <hr />
  <h2>
    <a href="/borrow">Lainakaupat</a>
  </h2>

</body>

</html>
