<!DOCTYPE html>
<html>

<head>
  <title>Vaihtolainaus</title>
</head>

<body>
  <h1>Vaihtolainaus</h1>
  
  <p>
    {% if session.user_id %}
    <a href="/register">Luo tunnus</a>
    <a href="/logout">Kirjaudu ulos</a>
    <hr />
    Tervetuloa {{ session.username }} 
    <br />
    (ID-numero: {{ session.user_id  }})
    {% else %}
    <a href="/register">Luo tunnus</a>
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
    <hr />
  </p>

  <h2>
    <a href="/trade">Vaihtokaupat</a>
    <br />
    <a href="/borrow">Lainat</a>
  </h2>

</body>

</html>
