<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <h1>Vaihtolainaus</h1>

  <p>
    <a href="/">Etusivu</a> |
    <a href="/search">Haku</a> |
    {% if session.user_id %}
    <a href="/user/{{ session.user_id }}">Oma profiili ({{ session.username }})</a> |
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/register">Luo tunnus</a> |
    <a href="/login">Kirjaudu sisään</a> |
    {% endif %}
  </p>
  <hr />
  {% block content %}{% endblock %}
</body>

</html>
