{% extends "layout.html" %}

{% block title %}Ehdotuksen poisto{% endblock %}

{% block content%}
<h2>Ehdotuksen poisto</h2>

<div class="gen">
<form action="/remove_ask/{{ ask.id }}" method="post">
  <p>
    Haluatko varmasti poistaa ehdotuksen?
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="continue" value="Poista" />
  <input type="submit" name="cancel" value="Peruuta" />
  <input type="hidden" name="ask_id" value="{{ ask.id }}"/>
</form>
</div>
{% endblock %}