{% extends "layout.html" %}

{% block title %}{{ ask.title }}{% endblock %}

{% block content%}
<h3>{{ ask.title }}</h3>

<div class="ask_info">
<p>
  |
  {% for class in classes %}
  {{ class.value }} |
  {% endfor %}
</p>
</div>

<div class="ask_content">
<p>
  {{ ask.content | show_lines }}
</p>
</div>

<div class="ask_meta">
<p>
  Ehdottaja: <a href="/user/{{ ask.user_id }}">{{ ask.username }}</a> |
  Klo: {{ ask.sent_at }}
  <br />
  {% if ask.user_id == session.user_id %}
  {% if ask.status == 1 %}
    <form action="/close_ask/{{ ask.id }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Sulje" />
      <input type="hidden" name="ask_id" value="{{ ask.id }}"/>
    </form>
  {% endif %}

    <a href="/edit_ask/{{ ask.id }}">Muokkaa</a> |
    <a href="/remove_ask/{{ ask.id }}">Poista</a>
  {% endif %}
</p>
</div>

<h4>Vastaukset</h4>

{% for reply in replies %}
<div class="reply">
  <a href="/user/{{ reply.user_id }}">{{ reply.username }}</a>:
  <br />
  {{ reply.content | show_lines }}
  <br />
  {% if session.user_id == reply.user_id %}
    <form action="/remove_reply/{{ reply.id }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" name="remove_reply" value="Poista" />
      <input type="hidden" name="ask_id" value="{{ ask.id }}"/>
    </form>
  {% endif %}
</div>
{% endfor%}

{% if ask.status == 1 %}
{% if session.username %}
<hr />

<div class="new_reply">
<h5>Uusi vastaus</h5>

<form action="/create_reply" method="post">
  Vastaus: <br />
  <textarea name="content" rows="4" cols="40" maxlength="1000" required></textarea>
  <br />
  <input type="hidden" name="ask_id" value="{{ ask.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Julkaise vastaus" />
</form>
</div>

{% else %}
<div class="info">
<p>
  Jos haluat tehdä oman vastauksen, <a href="/login">kirjaudu sisään</a>.
</p>
</div>
{% endif %}
{% endif %}

<p>
  {% if ask.type == 'A' %}
  <a href="/trade">Takaisin</a>
  {% else %}
  <a href="/borrow">Takaisin</a>
  {% endif %}
</p>
{% endblock %}