{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content%}
<h2>{{ user.username }}</h2>

<p>
  {% if user.has_image %}
  <img class="shrinkToFit" src="/image/{{ user.id }}" width="150" height="150"/>
  <br />
    {% if user.id == session.user_id %}
      <a href="/add_profile_image">Vaihda profiilikuva</a>
    {% endif %}
  {% else %}
    {% if user.id == session.user_id %}
      <a href="/add_profile_image">Lisää profiilikuva</a>
    {% endif %}
  {% endif %}
</p>

<p>
  {% for point in data %}
    {% if point.status == 1 %}
      {% if point.total == 1 %}
        Käyttäjällä on {{ point.total }} avoin vaihtokauppa.
      {% else %}
        Käyttäjällä on {{ point.total }} avointa vaihtokauppaa.
      {% endif %}
    {% else %}
      Käyttäjä on tehnyt {{ point.total }} vaihtokaupat.
    {% endif %}
    <br />
  {% endfor %}
</p>

<h3>Avoimet vaihtokaupat</h3>

<u>
  {% for ask in asks %}
    {% if ask.status == 1 %}
      <li><a href="/ask/{{ ask.id }}">{{ ask.title }}</a></li>
    {% endif %}
  {% endfor %}
</u>
{% endblock %}