<!DOCTYPE html>
<html>

<head>
  <title>{{ ask.title }}</title>
</head>

<body>
  <h1>{{ ask.title }}</h1>
  <p>
    {{ ask.content }}
  </p>
  <p>
    Ehdottaja: <a href="/user/{{ ask.user_id }}">{{ ask.username }}</a>
  </p>
    {% if ask.user_id == session.user_id %}
  <p>
    <a href="/edit_ask/{{ ask.id }}">Muokkaa</a> |
    <a href="/remove_ask/{{ ask.id }}">Poista</a> 
  </p>
  {% endif %}
  <p>
    <hr />
    <a href="/trade">Takaisin</a> |
    <a href="/">Etusivulle</a>
  </p>
</body>
</html>
