<!DOCTYPE html>
<html>

<head>
  <title>Vaihda</title>
</head>

<body>
  <h1>Vaihtokaupat</h1>
    <p>
    <a href="/">Etusivulle</a>
    <hr />
  </p>
  <h2>Ehdotukset</h2>
    {% for ask in asks %}
    <p>
      <a href="/ask/{{ ask.id }}">{{ ask.title }}</a>
      <br />
      {{ ask.sent_at }}
    </p>
    <hr />
    {% endfor %}
  <br />


  {% if session.username %}
  <h2>Uusi ehdotus</h2>
  <form action="/create_ask" method="post">
    <p>
      Ehdotus: <br />
      <input type="text" name="title" maxlength="100" required />
    </p>
    {% for class in classes %}
    <p>
      {{ class }}:
      <select name="classes">
        <option value="">(valitse)</option>
        {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
        Lisätiedot:
        <br />
        <textarea name="content" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <input type="submit" value="Julkaise ehdotus" />
  </form>
  {% endif %}

</body>
</html>
