{% extends "layout.html" %}

{% block title %}Vaihtokaupat{% endblock %}

{% block content%}
<h2>Vaihtoehdotukset</h2>

{% for ask in asks %}
<div class="ask">
  <a href="/ask/{{ ask.id }}">{{ ask.title }}</a>
  <br />
  {% if ask.status == 1 %}
  Auki | {{ ask.sent_at }}
  {% elif ask.status == 0 %}
  Kiinni | {{ ask.sent_at }}
  {% endif %}
</p>
</div>
{% endfor %}
<br />

{% if session.username %}
<div class="new_ask">
<h4>Uusi ehdotus</h4>

<form action="/create_ask" method="post">
  <p>
    Ehdotus: <br />
    <input type="text" name="title" maxlength="100" required />
  </p>

  {% for class in classes %}
  <p>
    {% if class == "Tyyppi" %}
      {% for option in classes[class] %}
        <input type="radio" name="type" value="{{ class }}:{{ option }}" /> {{ option }}
      {% endfor %}
    {% else %}
      {{ class }}:
      <select name="classes">
        <option value="">(valitse)</option>
        {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    {% endif %}
  </p>
  {% endfor %}

  <p>
    Lisätiedot:
    <br />
    <textarea name="content" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="ask_type" value="trade" />
  <input type="submit" value="Julkaise ehdotus" />
</form>
{% else %}
<div class="info">
<p>
  Jos haluat tehdä oman ehdotuksen, <a href="/login">kirjaudu sisään</a>.
</p>
</div>
</div>
{% endif %}
{% endblock %}