<!DOCTYPE html>
<html>

<head>
  <title>Vaihda</title>
</head>

<body>
  <h1>Vaihtokaupat</h1>
  <h2>Ehdotukset</h2>
  <u>
    {% for ask in asks %}
    <li><a href="/ask/{{ ask.id }}">{{ ask.title }}</a></li>
    {% endfor %}
  </u>
  <br />
  <h2>Uusi ehdotus</h2>
  <form action="/create_ask" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>
        <textarea name="content" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Luo ehdotus" />
  </form>
</body>
</html>
